# {{ .AppName }}

This API provides simple restful API access to a service.

## Endpoints

```
GET {{ .UrlBase }}/ping
GET {{ .UrlBase }}/version
GET {{ .UrlBase }}/metrics
```

## Authentication

Authentication is accomplished via an encrypted pre-shared key passed via the `X-Auth-Token` header.

## License

GNU Affero General Public License v3.0 (GNU AGPLv3)  
{{ .Copyright }}
