apiVersion: skaffold/v2beta10
kind: Config
build:
  local: {}
  artifacts:
  - image: hub.docker.com/yaleits/{{ .DockerName }}
    docker:
      dockerfile: k8s/Dockerfile
      buildArgs:
        version: 0.0.0
        prerelease: dev
deploy:
  helm:
    releases:
    - name: {{ .AppName }}
      chartPath: k8s/api
      artifactOverrides:
        image: hub.docker.com/yaleits/{{ .DockerName }}
      setFiles:
        apiconfig: config/config.json
      valuesFiles:
        - k8s/values.yaml
